<!-- timeclock/templates/timeclock/calendar.html -->

{% extends 'timeclock/base.html' %}

{% block content %}
<style>
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td, 
.payroll th, .payroll tr, .payroll td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 100px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

.num {
  text-align: right;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

.sunday {
  background-color: lightgrey;
}
</style>
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'timeclock:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'timeclock:calendar' %}?{{ next_month }}"> Next Month </a>
	<table class='center payroll'>
			<tr>
				<th><a class="btn btn-info" href="{% url 'timeclock:calendar' %}?{{ prev_pay }}"> prev </a></th>
				<th>{{summary.1.paydata.first}}</th>
				<th>{{summary.1.paydata.last}}</th>
				<th><a class="btn btn-info" href="{% url 'timeclock:calendar' %}?{{ next_pay }}"> next </a></th>
			</tr>
			<tr>
				<th>user</th>
				<th>Reg</th>
				<th>OT</th>                                                                                                       <th>Total</th>
			</tr>
		{% for user,data in summary.items %}
			<tr>
				<td>{{data.name}}</td>
				<td class=num>{{data.paydata.reg}}</td>
				<td class=num>{{data.paydata.ot}}</td>
				<td class=num>{{data.paydata.total}}</td>
			</tr>
		{% endfor %}
	</table>
	<a class="btn btn-info left" href="{% url 'timeclock:clockIn' %}"> Clock In </a>
	<a class="btn btn-info" href="{% url 'timeclock:clockOut' %}"> Clock Out </a>
	<a class="btn btn-info right" href="{% url 'timeclock:logout' %}"> Logout </a>
</div>
{{ calendar }}
{% endblock %}
