<style>
	.button { 
		display: inline-block; 
		padding: 10px 20px; 
		text-align: center; 
		text-decoration: none; 
		color: #ffffff; 
		background-color: #7aa8b7; 
		border-radius: 6px; 
		outline: none; 
	}
	table{
		border-collapse:collapse;
		border:1px solid #FF0000;
	}
	table td{ border:1px solid #FF0000; padding:.5em; }
	table th{ border:1px solid #FF0000; padding:.5em; }
</style>
<a class="button" href="{% url 'timeclock:clockIn' %}">Clock-In</a>
<a class="button" href="{% url 'timeclock:clockOut' %}">Clock-Out</a>
<p><a class="button" href="{% url 'timeclock:logout' %}">logout</a></p>
<table>
	<tr>
		<th>date</th>
		<th>Time In</th>
		<th>Time Out</th>
		<th>Hours</th>
		<th>OT</th>
		<th>Total</th>
	</tr>
	{% for week in object_list.weeks %}
		{% for event in week %}
			<tr>
				<td>{{event.date|date:'N d, Y' }}</td>
				<td>{{event.time_in|date:'h:i A'}}</td>
				<td>{{event.time_out|date:'h:i A'}}</td>
				<td>{{event.get_hours}}</td>
			</tr>
		{% endfor %}
		{% if week %}
		<tr>
			<th>Week Total</th>
			<th></th>
			<th></th>
			<th>{{week.reg}}</th>
			<th>{{week.ot}}</th>
			<th>{{week.total}}</th>
		</tr>
		{% endif %}
	{% endfor %}
</table>

<br/>

<h3>Previous 2 Week Totals</h3>
<table>
		<tr>
			<th>user</th>
			<th>Reg</th>
			<th>OT</th>
			<th>Total</th>
		</tr>
	{% for user,data in summary.items %}
		<tr>
			<td>{{user}}</td>
			<td>{{data.reg}}</td>
			<td>{{data.ot}}</td>
			<td>{{data.total}}</td>
		</tr>
	{% endfor %}
</table>
