<body>
<a href="{% url 'timeclock:clockIn' uid %}">Clock-In</a>
</br>
<a href="{% url 'timeclock:clockOut' uid %}">Clock-Out</a>
<table>
	<tr><th>date</th><th>Time In</th><th>Time Out</th><th>Hours</th></tr>
	{% for event in week1 %}
	<tr><td>{{ event.date|date:'N d, Y' }}</td><td>{{event.time_in|date:'h:i A'}}</td><td>{{event.time_out|date:'h:i A'}}</td><td>{{event.hours|floatformat:2}}</td></tr>
	{% endfor %}
	<tr><th></th><th></th><th></th><th>{{week1_total|floatformat:2}}</th></tr>
	<tr><th>date</th><th>Time In</th><th>Time Out</th><th>Hours</th></tr>
	{% for event in week2 %}
	<tr><td>{{ event.date|date:'N d, Y' }}</td><td>{{event.time_in|date:'h:i A'}}</td><td>{{event.time_out|date:'h:i A'}}</td><td>{{event.hours|floatformat:2}}</td></tr>
	{% endfor %}
	<tr><th></th><th></th><th></th><th>{{week2_total|floatformat:2}}</th></tr>
	<tr><th></th><th></th><th></th><th>{{total|floatformat:2}}</th></tr>
</table>
</body>
